# Data Pre-processing

1.   Loaded the datasets indivudally and declared them as seperate dataframes
2.   Renamed the columns in our second dataset to match the columns in the
     first dataset
3.   Merged the dataset based on 'set_num' variable using an outer join
4.   Extracting Average cost and converted it to USD

In [ ]:
import pandas as pd
import numpy as np
import re


# Load Data Into File
sets_dataset = pd.read_csv('sets.csv')
prices_dataset = pd.read_csv('prices_data.csv')




sets_dataset


# Rename Columns To Match Eachother
prices_dataset.rename(columns={
    "Set": "set_num",
    "Name": "name",
    "Year": "year",
    "Parts": "num_parts",
    "Store": "store",
    "Cost": "cost"
}, inplace=True)




# Pick Relavent Columns Before Merging
sets_dataset = sets_dataset[['set_num', 'name', 'year', 'theme_id', 'num_parts']]
prices_dataset = prices_dataset[['set_num', 'Theme', 'cost', 'store',]]


# Merge datasets on 'set_num'
merged_df = pd.merge(sets_dataset, prices_dataset, on="set_num", how= "outer")




#Extract Average Cost from Cost and Convert to USD
# Define a function to extract the "Avg:" cost value
def extract_avg_cost(cost):
    if isinstance(cost, str) and 'Avg:' in cost:
        # Extract substring after "Avg:" and remove non-numeric characters
        avg_cost = re.search(r'Avg:\s*CFA([\d,]+)', cost)
        if avg_cost:
            cfa_avg_value = float(avg_cost.group(1).replace(',', ''))  # Remove commas and convert to float
            return cfa_avg_value * 0.0016
    return None  # Return None for invalid or missing data

def extract_first_cost(cost):
    if isinstance(cost, str):  # Check if the value is a string
        match = re.search(r'\s*CFA([\d,]+)', cost)  # Match "CFA" followed by digits and commas
        if match:
            cfa_first_value = float(match.group(1).replace(',', ''))  # Return only the numeric part without "CFA"
            return cfa_first_value * 0.0016
    return None  # Return None for invalid or missing data

#Add Average Cost
merged_df['avg_cost'] = merged_df['cost'].apply(extract_avg_cost)
merged_df['select_cost'] = merged_df['cost'].apply(extract_first_cost)

merged_df.head(10)

,set_num,name,year,theme_id,num_parts,Theme,cost,store,avg_cost,select_cost
0,00-1,Weetabix Castle,1970.0,414.0,471.0,NaN,NaN,NaN,NaN,NaN
1,00-2,Weetabix Promotional House 1,1976.0,413.0,147.0,NaN,NaN,NaN,NaN,NaN
2,00-3,Weetabix Promotional House 2,1976.0,413.0,149.0,NaN,NaN,NaN,NaN,NaN
3,00-4,Weetabix Promotional Windmill,1976.0,413.0,126.0,NaN,NaN,NaN,NaN,NaN
4,00-6,Special Offer,1985.0,67.0,3.0,NaN,NaN,NaN,NaN,NaN
5,00-7,Weetabix Promotional Lego Village,1976.0,413.0,3.0,NaN,NaN,NaN,NaN,NaN
6,0011-2,Town Mini-Figures,1978.0,84.0,12.0,NaN,NaN,NaN,NaN,NaN
7,0011-3,Castle 2 for 1 Bonus Offer,1987.0,199.0,2.0,NaN,NaN,NaN,NaN,NaN
8,0012-1,Space Mini-Figures,1979.0,143.0,12.0,NaN,NaN,NaN,NaN,NaN
9,0013-1,Space Mini-Figures,1979.0,143.0,12.0,NaN,NaN,NaN,NaN,NaN

In [ ]:
#merged_df.head(10)

cleaned_df = merged_df.dropna(thresh=len(merged_df.columns) - 3) #Removes columns with null values > 3

# Used this line for screenshot on slides because it removes the null values
filtered_df = cleaned_df[merged_df['cost'].notnull() & merged_df['store'].notnull()]


filtered_df.head(10)
#cleaned_df.head(10)

<ipython-input-74-0a20119f4077>:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filtered_df = cleaned_df[merged_df['cost'].notnull() & merged_df['store'].notnull()]

,set_num,name,year,theme_id,num_parts,Theme,cost,store,avg_cost,select_cost
47,10014-1,Caboose,2001.0,238.0,170.0,Train,"CFA64,940Avg: CFA51,124","Set Shop Boy(BrickOwl, DE)",81.7984,103.9040
49,10016-1,Tanker,2001.0,238.0,128.0,Train,"CFA91,178Avg: CFA91,242","Set Shop Boy(BrickOwl, DE)",145.9872,145.8848
53,10020-1,"Santa Fe Super Chief, NOT the Limited Edition",2002.0,236.0,427.0,Train,"CFA327,323Avg: CFA287,180","Set Shop Boy(BrickOwl, DE)",459.4880,523.7168
56,10022-1,"Santa Fe Cars - Set II (dining, observation, o...",2002.0,237.0,410.0,Train,"CFA327,323Avg: CFA350,389","Set Shop Boy(BrickOwl, DE)",560.6224,523.7168
61,10027-1,Train Engine Shed,2003.0,239.0,670.0,Train,"CFA360,120Avg: CFA317,445","Set Shop Boy(BrickOwl, DE)",507.9120,576.1920
67,10040-1,Black Seas Barracuda,2002.0,147.0,914.0,Pirates,"CFA1,079,311Avg: CFA928,760","You Only Brick Twice(BrickLink, US)",1486.0160,1726.8976
110,10090-1,Turkey,2003.0,231.0,54.0,Seasonal,"CFA6,560Avg: CFA6,355","Steinemarktplatz(BrickOwl, DE)",10.1680,10.4960
120,10115-1,Jumper Bricks,2001.0,254.0,80.0,Bulk Bricks,"CFA7,839Avg: CFA7,431","Set Shop Boy(BrickOwl, DE)",11.8896,12.5424
121,10116-1,Accessories Heart,2004.0,500.0,50.0,Clikits,"CFA26,205Avg: CFA25,917","Brick Takeover(BrickOwl, DE)",41.4672,41.9280
122,10117-1,Accessories Daisy,2004.0,500.0,50.0,Clikits,"CFA26,205Avg: CFA25,917","Brick Takeover(BrickOwl, DE)",41.4672,41.9280

# Connecting Database for Queries

In [ ]:
import sqlite3

connect = sqlite3.connect('lego.db')
cursor = connect.cursor()

# Write DataFrames to SQLite tables
filtered_df.to_sql('sets', connect, if_exists='replace', index=False)

connect.commit()

#1. Which LEGO themes has the highest complexity (more number of pieces)?

In [ ]:
query = """
SELECT theme AS Theme,
       AVG(num_parts) AS Avg_Parts
FROM sets
GROUP BY Theme
ORDER BY avg_parts DESC
LIMIT 10;
"""
result = pd.read_sql_query(query, connect)
print(result)

                      Theme    Avg_Parts
0                    Disney  4060.000000
1         Modular Buildings  2305.754717
2         FIRST LEGO League  2165.000000
3              Ghostbusters  1914.666667
4                   Factory  1500.444444
5                 Exo-Force  1234.500000
6  Pirates of the Caribbean  1112.857143
7                   Technic  1089.774390
8                Model Team   930.000000
9                   Creator   920.151261

# 2. Which Lego Theme has the Highest Cost?

In [ ]:
query = """
SELECT theme AS Theme,
       avg_cost AS Avg_Cost
FROM sets
WHERE Theme IS NOT NULL AND Avg_Cost IS NOT NULL
GROUP BY Theme
ORDER BY avg_cost DESC
LIMIT 10;
"""

result = pd.read_sql_query(query, connect)
print(result)

                              Theme   Avg_Cost
0                           Pirates  1486.0160
1                 Modular Buildings  1144.9360
2                         Star Wars  1015.5056
3                           Technic   487.8096
4                      Ghostbusters   473.2816
5                  Monster Fighters   383.9552
6                            Disney   379.3936
7             Educational and Dacta   375.5168
8                           Western   352.1024
9  The Hobbit and Lord of the Rings   323.9408

# 3. How does Complexity Vary Over Years?

In [ ]:
query = """
SELECT year AS Year,
       AVG(num_parts) AS Avg_Parts,
       COUNT(*) AS Total_Sets
FROM sets
WHERE year IS NOT NULL AND num_parts IS NOT NULL
GROUP BY year
ORDER BY year;
"""

result = pd.read_sql_query(query, connect)
print(result)

      Year   Avg_Parts  Total_Sets
0   1969.0   28.000000           1
1   1971.0   58.000000           1
2   1974.0   78.000000           1
3   1975.0   94.000000           1
4   1976.0   52.000000           1
5   1977.0   13.400000           5
6   1978.0   38.000000           1
7   1979.0   42.000000           1
8   1980.0   25.333333           3
9   1981.0   90.000000           2
10  1983.0   38.250000           8
11  1984.0  191.500000           2
12  1985.0    8.000000           1
13  1986.0  115.250000           4
14  1987.0   18.833333          18
15  1988.0  334.333333           3
16  1989.0  163.200000          15
17  1990.0  368.250000           8
18  1991.0  275.769231          13
19  1992.0  320.818182          11
20  1993.0  270.888889           9
21  1994.0  348.600000          10
22  1995.0  248.437500          16
23  1996.0  411.473684          19
24  1997.0  176.125000          16
25  1998.0  231.727273          11
26  1999.0  264.742857          35
27  2000.0  353.363636          11
28  2001.0  308.275862          29
29  2002.0  274.617647          34
30  2003.0  388.967742          31
31  2004.0  321.096774          31
32  2005.0  747.689655          29
33  2006.0  852.937500          64
34  2007.0  467.210526          38
35  2008.0  537.405797          69
36  2009.0  646.621951          82
37  2010.0  688.337209          86
38  2011.0  661.235849         106
39  2012.0  397.535519         183
40  2013.0  458.253012         249
41  2014.0  417.929448         326
42  2015.0  695.820253         395
43  2016.0  421.161667         600
44  2017.0  364.958932         487

# 4. How does Complexity Vary Across Stores?

In [ ]:
query = """
SELECT store as Store,
       AVG(num_parts) AS avg_parts,
       COUNT(*) AS total_sets
FROM sets
WHERE num_parts IS NOT NULL AND store IS NOT NULL
GROUP BY store
ORDER BY avg_parts DESC;
"""

# Execute the query and load results into a DataFrame
result = pd.read_sql_query(query, connect)

# Display the result
print(result)

                                    Store  avg_parts  total_sets
0        The Brick Curator(BrickLink, US)     3260.0           1
1              Magic world(BrickLink, IT)     3260.0           1
2              KlossKlasse(BrickLink, SE)     3260.0           1
3          Bricks_for_sale(BrickLink, US)     3260.0           1
4              Birx's Brix(BrickLink, US)     3260.0           1
..                                    ...        ...         ...
476         Ollis Brickbar(BrickLink, DE)        1.0           1
477              NW_Bricks(BrickLink, US)        1.0           1
478                ND Toys(BrickLink, US)        1.0           1
479                BricksBC(BrickOwl, CA)        1.0           1
480  Blocks & Bricks 50 OFF(BrickOwl, PL)        1.0           1

[481 rows x 3 columns]

# 5. Combining Cost and Complexity Over Time

In [ ]:
query = """
SELECT year,
       AVG(avg_cost) AS avg_cost,
       AVG(num_parts) AS avg_parts,
       COUNT(*) AS total_sets
FROM sets
WHERE year IS NOT NULL AND avg_cost IS NOT NULL AND num_parts IS NOT NULL
GROUP BY year
ORDER BY year;
"""

# Execute the query and load results into a DataFrame
result = pd.read_sql_query(query, connect)

# Display the result
print(result)

      year    avg_cost   avg_parts  total_sets
0   1969.0   19.937600   28.000000           1
1   1971.0  308.545600   58.000000           1
2   1974.0   96.857600   78.000000           1
3   1975.0   99.633600   94.000000           1
4   1976.0  195.784000   52.000000           1
5   1977.0   23.592960   13.400000           5
6   1978.0  180.569600   38.000000           1
7   1979.0  200.244800   42.000000           1
8   1980.0  107.818133   25.333333           3
9   1981.0  247.323200   90.000000           2
10  1983.0   66.992400   38.250000           8
11  1984.0  289.254400  191.500000           2
12  1985.0    8.840000    8.000000           1
13  1986.0  213.474000  115.250000           4
14  1987.0   51.613156   18.833333          18
15  1988.0  365.100267  334.333333           3
16  1989.0  184.890987  163.200000          15
17  1990.0  434.001000  368.250000           8
18  1991.0  241.263508  275.769231          13
19  1992.0  331.114036  320.818182          11
20  1993.0  369.044622  270.888889           9
21  1994.0  254.956000  348.600000          10
22  1995.0  140.225400  248.437500          16
23  1996.0  267.368926  411.473684          19
24  1997.0  155.624700  176.125000          16
25  1998.0  122.407273  231.727273          11
26  1999.0   99.166400  264.742857          35
27  2000.0  172.791273  353.363636          11
28  2001.0  170.362814  308.275862          29
29  2002.0  200.620282  274.617647          34
30  2003.0  169.966090  388.967742          31
31  2004.0  161.098477  321.096774          31
32  2005.0  170.497710  747.689655          29
33  2006.0  295.707700  852.937500          64
34  2007.0  164.714021  467.210526          38
35  2008.0  184.465345  537.405797          69
36  2009.0  392.546517  646.621951          82
37  2010.0  176.121507  688.337209          86
38  2011.0  166.235094  661.235849         106
39  2012.0  100.468538  397.535519         183
40  2013.0   98.016713  458.253012         249
41  2014.0   56.623234  417.929448         326
42  2015.0   99.255186  695.820253         395
43  2016.0   51.106286  421.537563         599
44  2017.0   42.708251  364.958932         487